@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.title-app{
  display: block;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  text-align: center;
}


.logo{
  width: 120px;
  height: 40px;
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 12px 0;
  float: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-close{
  font-size: 4em;
  color: #bb2124;
}

.ant-message-notice:first-child{
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.variations {
  display: block;
  margin: 0;
  text-align: center;
}

.variations li {
  vertical-align: top;
}

.close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #bb2124;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.black::before, .close.black::after {
  height: 8px;
  margin-top: -4px;
}

.close.blades::before, .close.blades::after {
  border-radius: 20px 5px;
}

.container-main{
  background: #fff;
  padding: 24px 0;
  min-height: 280px;
}

.ant-fullcalendar.ant-fullcalendar-full.ant-fullcalendar-fullscreen table > tbody > tr > td:first-child > .ant-fullcalendar-date,
.ant-fullcalendar.ant-fullcalendar-full.ant-fullcalendar-fullscreen table > tbody > tr > td:last-child > .ant-fullcalendar-date {
  margin:0;
}

.ant-message-notice{
  padding:0;
}

.ant-layout-content{
  padding: 1em;
}

.ant-fullcalendar-calendar-body{
  padding: 8px 0;
}

.motivational-quote{
  margin:0;
  font-size: 3em;
}

.ant-message-notice-content{
  display: block;
  background: #FFC71C;
  color: #565656;
  min-height: 64px;
  height: auto;
  border-radius: 0;
}

@media only screen and (max-width: 768px){
  .motivational-quote{
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 425px) {
  .motivational-quote{
    font-size: 1.7em;
  }

  .icon-close{
    font-size: 2em;
  }

  .container-main{
    padding: 2px;
  }

  .ant-layout-content{
    padding: 0em;
  }

  .title-app{
    font-size: 1em;
  }

  .logo{
    width: 40px;
  }

  .close{
    width: 35px;
    height: 35px;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-content{
    overflow: hidden;
  }

  .close.black::before, .close.black::after{
    height: 6px;
    border-radius: 5px 0;
  }
}

@media only screen and (max-width: 375px){
  .ant-fullcalendar-fullscreen .ant-fullcalendar-date{
    padding: 0;
  }

  .motivational-quote{
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 320px){
  .ant-fullcalendar-header{
    padding:10px 0;
    text-align: center;
  }

  .ant-select.ant-fullcalendar-year-select,
  .ant-select.ant-fullcalendar-month-select{
    width: 48%;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-header .ant-radio-group{
    margin-left:0!important;
    margin-top:10px;
    width: 100%;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-header .ant-radio-group > label.ant-radio-button-wrapper{
    width:50%;
    text-align: center;
  }
  .motivational-quote{
    font-size: 1.2em;
  }
}